<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alberione.epp" version="0.0.1" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EPP</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="contacto@alberione.com.ar" href="http://cordova.io">
        Alberione Ingeniería en Sistemas
    </author>
    <content src="index.html" />
	<!-- A wildcard can be used to whitelist the entire network,
		 over HTTP and HTTPS.
		 *NOT RECOMMENDED* -->
	<allow-navigation href="*" />
	
	<!-- The above is equivalent to these three declarations -->
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	<access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	
	<gap:plugin name="com.cordova.plugin.inappbrowser.with.loading.spinner" version="1.0.13" />
	
	<!-- ESTADO DE CONEXION -->
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
	
	<!-- Android -->
	<feature name="NetworkStatus">
    	<param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
	</feature>
	
	<!-- iOs -->
	<feature name="NetworkStatus">
    	<param name="ios-package" value="CDVConnection" />
	</feature>	
</widget>
